.eventCard {
  border: 2px solid #333;
  padding: 20px;
  margin: 15px;
}

input:focus {
  outline: 2px solid blue;
}

/* Visibility vs Display */
.hiddenBox {
  visibility: hidden;
}

.noneBox {
  display: none;
}
